// Light theme
$primary-color: #3c3d3d;
$secondary-color: #a8a8a8;
$tertiary-color: #b3b4b4;

$background-primary: #fff;
$background-secondary: #e9e9e9;

// Dark theme
$dark-primary-color: #e0e0e0;
$dark-secondary-color: #8d8d8d;
$dark-tertiary-color: #b5b5b5;

$dark-background-primary: #121212;
$dark-background-secondary: #333333;
