:host {
  display: flex;
  height: 100vh;
  background-color: var(--background-secondary);
  overflow-y: auto;
}

.sign-up-footer {
  &__title {
    margin-right: 4px;
    font-size: 13px;
    color: var(--secondary-color);
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
  }
}
